/* app css stylesheet */

h1
{
    text-decoration: underline;
}

ul li
{
    list-style: none;
}

label
{
    float: left;
    clear: left;
    width: 120px;
    height: 26px;
}

input
{
    width: 150px;
    height: 26px;
    margin-left: 2px;
    float: left;
}

.tblHome {
    margin-left: 3%;
    margin-right: 3%;
}

.btnProdPerfHome
{
    background-color: green;
    color: white;
    font-weight: bold;
    width: 125px;
}

.btnCalendar
{
    background-color: #ffffff;
    color: #000000;
}

.inputCalendar
{
    display: inline;
    width: 120px;
    height: 26px;
    float: left;
}

select
{
    display: inline-block;
    width: 150px;
    height: 26px;
    float: left;
    margin-left: 2px;
}

.tblBorder td
{
    border: 1px solid black;
}

.tblHeader tr td
{
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

.tblBody tr td
{
    padding: 2px;
}

.nav ul li {
    display: inline;
}