<div id="divProdPerfSum" ng-controller="ngcProdPerfSumm">
    <h3> Performance Summary </h3>
    <table id="tblSummary" class="tblBorder">
        <thead id="thSummary" class="tblHeader">
            <tr>
                <td> Plant </td>
                <td> Local Ticket # </td>
                <td> Dispatch Ticket # </td>
                <td> Mix Design </td>
                <td> Start Time </td>
                <td> End Time </td>
                <td> Truck </td>
            </tr>
        </thead>
        <tbody id="tbSummary" class="tblBody">
            <tr id="trTicketRepeater" ng-repeat="ticket in tickets">
                <td id="tdPlant">{{ticket.Plant}}</td>
                <td id="tdLocalTicketNum">
                    <a id="lnkProdPerfDetails" href="" ng-controller="ngcGetDetails" ng-click="details(ticket.DispatchTicketCode)">
                        {{ticket.LocalTicketCode}}
                    </a>
                </td>
                <td id="tdDispatchTicketNum">{{ticket.DispatchTicketCode}}</td>
                <td id="tdMixDesign">{{ticket.Description}}</td>
                <td id="tdStartTime">{{ticket.StartTime | date : 'MM/dd/yyyy hh:mm:ss'}}</td>
                <td id="tdEndTime">{{ticket.EndTime | date : 'MM/dd/yyyy hh:mm:ss'}}</td>
                <td id="tdTruck">{{ticket.Truck}}</td>
            </tr>
        </tbody>
    </table>
</div>
