<div id="divProdPerfDetails" ng-controller="ngcProdPerfDetails">
    <table id="tblDetails">
        <thead id="thDetails">
            <tr>
                <td> Plant </td>
                <td> Local Ticket # </td>
                <td> Dispatch Ticket # </td>
                <td> Mix Design </td>
                <td> Total Batched </td>
                <td> Total Batches </td>
                <td> Start Time </td>
                <td> End Time </td>
                <td> Mixing Time </td>
                <td> Truck </td>
                <td> Returned </td>
                <td> Water In Truck </td>
                <td> Slump </td>
            </tr>
        </thead>
        <tbody id="tbDetails">
            <tr id="trDetailsRepeater" ng-repeat="detail in details">
                <td id="tdPlant"> {{detail.Location.Plant}} </td>
                <td id="tdLocalTicketNum"> {{detail.LoadInfo.LocalTicketCode}} </td>
                <td id="tdDispatchTicketNum"> {{detail.LoadInfo.DispatchTicketCode}} </td>
                <td id="tdMixDesign"> {{detail.LoadInfo.Description}} </td>
                <td id="tdTotalBatched"> {{detail.Produced.Quantity.Value}} + " " + {{detail.Produced.Quantity.UnitOfMeasure}} </td>
                <td id="tdTotalBatches"> {{detail.LoadInfo.TotalBatches}} </td>
                <td id="tdStartTime"> {{detail.LoadInfo.ActualStartTime}} </td>
                <td id="tdEndTime"> {{detail.LoadInfo.ActualEndTime}} </td>
                <td id="tdMixingTime"> {{detail.LoadInfo.MixingTime.Value}} + " " + {{detail.LoadInfo.MixingTime.UnitOfMeasure}} </td>
                <td id="tdTruck"> {{detail.LoadInfo.Truck.Description}} </td>
                <td id="tdReturned"> {{detail.LoadInfo.Truck.ReturnedConcrete.Quantity}} + " " + {{detail.LoadInfo.Truck.ReturnedConcrete.UnitOfMeasure}} </td>
                <td id="tdWaterInTruck"> {{detail.LoadInfo.WaterInTruck.Value}} + " " + {{detail.LoadInfo.WaterInTruck.UnitOfMeasure}} </td>
                <td id="tdSlump"> {{detail.LoadInfo.Slump.Value}} + " " + {{detail.LoadInfo.Slump.UnitOfMeasure}} </td>
            </tr>
        </tbody>
    </table>
    <br /><br />
    <table id="tblMaterials">
        <thead id="thMaterials">
            <tr>
                <td> Material </td>
                <td> Target </td>
                <td> Actual </td>
                <td> Variance </td>
                <td> Moisture </td>
            </tr>
        </thead>
        <tbody id="tbMaterials">
            <tr id="trMaterialsRepeater" ng-repeat="material in details.Consumed">
                <td></td>
            </tr>
            
        </tbody>
    </table>
</div>