<div id="divProdPerfDetails" ng-controller="ngcProdPerfDetails">
    <h3> Performance Summary </h3>
    <table id="tblProdPerfSumm" class="tblBorder">
        <thead id="thProdPerfSumm" class="tblHeader">
            <tr>
                <td> Plant </td>
                <td> Local Ticket # </td>
                <td> Dispatch Ticket # </td>
                <td> Mix Design </td>
                <td> Start Time </td>
                <td> End Time </td>
                <td> Truck </td>
            </tr>
        </thead>
        <tbody id="tbProdPerfSumm" class="tblBody">
            <tr id="trProdPerfSummRepeater">
                <td id="tdPlant"> {{details.Location.Plant}} </td>
                <td id="tdLocalTicketNum"> {{details.LoadInfo.LocalTicketCode}} </td>
                <td id="tdDispatchTicketNum"> {{details.LoadInfo.DispatchTicketCode}} </td>
                <td id="tdMixDesign"> {{details.LoadInfo.Description}} </td>
                <td id="tdStartTime"> {{details.LoadInfo.ActualStartTime | date : 'MM/dd/yyyy hh:mm:ss'}} </td>
                <td id="tdEndTime"> {{details.LoadInfo.ActualEndTime | date : 'MM/dd/yyyy hh:mm:ss'}} </td>
                <td id="tdTruck"> {{details.LoadInfo.Truck.Description}} </td>
            </tr>
        </tbody>
    </table>
    <br />
    <h3> Load Summary </h3>
    <table id="tblDetails" class="tblBorder">
        <thead id="thDetails" class="tblHeader">
            <tr>
                <td> Total Batches </td>
                <td> Total Batched </td>
                <td> Mixing Time </td>
                <td> Returned </td>
                <td> Water In Truck </td>
                <td> Slump </td>

            </tr>
        </thead>
        <tbody id="tbDetails" class="tblBody">
            <tr id="trMaterialsRepeater">
                <td id="tdTotalBatches"> {{details.LoadInfo.TotalBatches}} </td>
                <td id="tdTotalBatched"> {{details.Produced.Quantity.Value}} {{details.Produced.Quantity.UnitOfMeasure}} </td>
                <td id="tdMixingTime"> {{details.LoadInfo.MixingTime.Value}}  {{details.LoadInfo.MixingTime.UnitOfMeasure}} </td>
                <td id="tdReturned"> {{details.LoadInfo.Truck.ReturnedConcrete.Quantity}}  {{details.LoadInfo.Truck.ReturnedConcrete.UnitOfMeasure}} </td>
                <td id="tdWaterInTruck"> {{details.LoadInfo.WaterInTruck.Value}} {{details.LoadInfo.WaterInTruck.UnitOfMeasure}} </td>
                <td id="tdSlump"> {{details.LoadInfo.Slump.Value}} {{details.LoadInfo.Slump.UnitOfMeasure}} </td>
            </tr>
        </tbody>
    </table>
    <br />
    <h3> Actuals </h3>
    <table id="tblMaterials" class="tblBorder">
        <thead id="thMaterials" class="tblHeader">
            <tr>
                <td> Material </td>
                <td> Target </td>
                <td> Actual </td>
                <td> Variance </td>
                <td> Moisture </td>
            </tr>
        </thead>
        <tbody id="tbMaterials" class="tblBody">
            <tr id="trMaterialsRepeater" ng-repeat="material in details.Consumed">
                <td id="tdMaterial"> {{material.Material}} </td>
                <td id="tdTarget"> {{material.FeedTarget.Value}}  {{material.FeedTarget.UnitOfMeasure}} </td>
                <td id="tdActual"> {{material.Consumed.Value}} {{material.Consumed.UnitOfMeasure}} </td>
                <td id="tdVariance"> {{material.Variance.Value}} {{material.Variance.UnitOfMeasure}} </td>
                <td id="tdMoisture"> {{material.Moisture.Value}} {{material.Moisture.UnitOfMeasure}} </td>
            </tr>
        </tbody>
    </table>
</div>