<div ng-controller="ngcProdPerfSumm">
    <table>
        <thead>
            <tr>
                <td width="15%">
                    Local Ticket #
                </td>
                <td width="15%">
                    Dispatch ticket #
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ticket in tickets">
                <td width="15%">
                    {{ticket.LocalTicketCode}}
                </td>
                <td width="15%">
                    {{ticket.DispatchTicketCode}}
                </td>
            </tr>
        </tbody>
    </table>
</div>